.drop-area {
    height: 162;    
    margin: 16px 54px 24px 54px;
    margin-left: 54px;
    margin-right: 54px;    
}

.drop-area .dzu-previewContainer {
    padding: 0;
}

.drop-area .dzu-previewImage {
    margin: auto;
    max-height: 100%;
    max-width: 75%;
}

.drop-area .dzu-previewStatusContainer {
    display: none;
}

