.signup-section{
    padding: 2rem 0.5rem;
}

.signup-form{
    text-align:left;
    padding: 0 1rem;
}

.signup-form h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 2rem 0;
}

.signup-form__logo{
    width: 100px;
    height: 34px;
    background-color: #CFD4ED;
  }

.signup-form__btn, 
.signup-form__btn:hover, 
.signup-form__btn:active, 
.signup-form__btn:visited {
    font-weight: 700 !important;
    background-color: #0D28A6 !important;
}


.signup-form p{
    margin-top: 2rem;
    text-align: center;
}

.signup-link{
    font-weight: 700;
    color: #0D28A6;
}

img.signup-img { 
display: none; 
}

@media only screen and (min-width: 1024px) {

    .signup-section{
        display: flex;
        flex-wrap:nowrap;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .signup-form{
        flex-grow:1;
        padding: 0 9rem;
    }

    
  img.signup-img { 
    display: block; 
  }

}