.ticket__container {
    position: relative;
    bottom: 1.5rem;
}

.ticket__orderid {
    margin-left: 2rem;
    margin-bottom: 3rem;
}

.ticket--success{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}

.ticket--success h2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.ticket--success p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8A8A8A;
}

.ticket--invoice{
    display:flex;
    flex-direction: column;
    align-self: center;
    width: 600px;
    height: 280px;
    margin: 0 auto;
}

.ticket--invoice h3{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.ticket--invoice p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #3C3C3C;
}

.ticket--invoice-h{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
}