.faq-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 1.5rem;
}
.faq-title{
  width: auto;
  
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.faq-title h2{
  font-size: 30px;
  font-weight:700;
  line-height: 36px;
}

.faq-title p{
  font-size: 14px;
  font-weight:400;
}

@media only screen and (min-width: 768px) {
  .hero-section, .services-section, .faq-section{
    flex-direction: row;
  }
  .faq-section{
    align-items: flex-start;
    padding: 1.5rem;
  }

  .faq-title{
    text-align: left;
  }
  .faq-content{
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
.faq-section{
    margin: 0;
    padding: 5rem;
  }

  .faq-content{
    width: 40%;
  }
}
