  .detail-section{
    position: relative;
    bottom: 6rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .card-detail, .card-detail-total{
    width: 90%;
    margin-bottom: 3rem;
    height: fit-content;
  }

  .detail-list li{
    font-weight: 700;
    font-size: 14px;  
    color: #8A8A8A;
  }
  .detail-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .category{
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    color: #8A8A8A;
  }

  .category-icon{
    padding-right: 0.5rem;
  }
  
  .hero-div{
    background-color: #F1F3FF;
    height: 200px;
  }

  .rdrCalendarWrapper {
    width: fit-content;
  }

@media only screen and (min-width: 767px) { 

  .card-detail{
    width: 75%;
  }

  .card-detail-total{
    width: 75%;

  }
}

@media only screen and (min-width: 1023px) { 

  .detail-section{
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .card-detail{
    margin: 1rem;
    flex: 1;
  }

  .card-detail-total{
    margin: 1rem;
    flex: 1;
  }
}

@media only screen and (min-width: 1439px) { 

  .card-detail{
    margin: 1rem;
    flex: 1.5;
  }

  .card-detail-total{
    margin: 1rem;
    flex: 1;
  }
}