  .detail-section{
    position: relative;
    bottom: 6rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .card-detail, .card-detail-total{
    margin: 2rem;
    width: auto;
  }

  .detail-list li{
    font-weight: 700;
    font-size: 14px;  
    color: #8A8A8A;
  }
  .detail-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .category{
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    color: #8A8A8A;
  }

  .category-icon{
    padding-right: 0.5rem;
  }
  
  .hero-div{
    background-color: #F1F3FF;
    height: 200px;
  }
@media only screen and (min-width: 768px) { 

  .card-detail{
    width: 50%;
  }

  .card-detail-total{
    width: 50%;

  }
}

@media only screen and (min-width: 1024px) { 

  .detail-section{
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .card-detail{
    margin: 1rem;
    width: 50%;
  }

  .card-detail-total{
    margin: 1rem;
    width: 18rem;
  }
}