.cari-content p{
  width: auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0.5rem 0 0.5rem 0;
}

.cari-content{
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px grey;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0 2rem;
}

.cari-content button{
  white-space: nowrap;
}

.hasil-card{
  background-color: white;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 0 2rem;
}

.car-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.car-container__card {
  padding: 1.5rem;
}

.car-container__card img {
  width: 80%;
  height: 160px;
  margin: auto;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .cari-content{
    display: flex;
    flex-direction: column;
  }

  .car-container__card img {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .cari-content{
    position: relative;
    bottom: 4rem;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 8rem;
    gap: 16px;
  }

  .hasil-card{
    position: relative;
    bottom: 4rem;
    margin: 0 8rem;
  }

  .car-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  .car-container__card img {
    width: 80%;
  }
}