.product-title{
  width: auto;
  
  margin-bottom: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.product-title h1{
  font-size: 30px;
  font-weight:700;
  line-height: 36px;
}

.product-title p{
  font-size: 14px;
  font-weight:400;
}

.product-section{
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.product-title{
  text-align: center;
  margin-bottom: 1rem;
}

.product-card-container{
  margin-top: 2rem;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;;
}

.product-card-content{
  padding: 2rem;
  margin: 1rem;
}

.product-card-content p{
  width: auto;
  font-size: 14px;
  line-height: 20px;
  margin: 0.5rem 0 0.5rem 0;
}

.product-card-content h1{
  font-size: 18px;
  font-weight: 700;
  margin-top: 1rem;
}

.logo {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .product-section{
    align-items: center;
    justify-content: center;
  }

  .product-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-card-content{
    flex-basis:40%;
    margin: 1rem;
    height: 200px
  }

}

@media only screen and (min-width: 1024px) {
  .product-section{
    padding: 3rem 5rem;
  }

  .product-title{
    text-align: left;
  }

  .product-card-container{
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-card-content{
    display: flex;
    flex-direction: column;
    flex-basis:20%;
    height: 250px;
    margin: 0;
  }
}
